body {
	margin: 0;
	font-family: helvetica;
	background: url(../background.jpg);
	background-attachment: fixed;
}

.header {
	background: #33373d;
	position: fixed;
	width: 100%;
	top: 0;
}

.menu {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	list-style-type: none;
}

.menu:after {
	clear: both;
	display: block;
	content: "";
}

.menu a {
	color:#fff;
	padding: 21px 22px;
	text-decoration: none;
}

.menu a:hover {
	background: #176ae8;
}

.menu li {
	float: right;
	padding: 21px 0;
}

.menu li:first-child {
	float: left;
}

.main-content {
	width: 1024px;
	margin: 85px auto 0;
}

.about-content:after {
	clear: both;
	content: "";
	display: block;
}

.about-content h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

.about-content img {
	width: 240px;
	border-radius: 50%;
	float: left;
	margin-right: 25px;

}

.about-content p {
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.5;
	
}


.gallery:after {
	clear: both;
	content: "";
	display: block;
}

.gallery h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

.gallery .image-block img {
	width: 100%;
	height: 200px;
}

.gallery .image-block {
	float: left;
	background: #dadada;
	border: 1px solid #fff;
	margin: 3px;
	box-sizing: border-box;
	width: 32.7%;	
}

.gallery .image-block:hover {
	background: #fff;
	cursor: pointer;
}

.gallery .text {
	text-align: center;
	padding: 20px;
	font-size: 26px;
	text-decoration: underline;
	color: #1b1b1b;
}

.contact-me {
	margin-top: 60px;
	margin-bottom: 30px;
}

.contact-me h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

.contact-me ul {
	padding: 0;
	width: 515px;
	margin: 20px auto;
}

.contact-me li {
	color: #fff;
	list-style-type: none;
	font-size: 30px;
}

.footer {
	background: #33373d;
	text-align: center;
	padding: 20px 0;
}

.footer a {
	text-decoration: none;
}


.footer img {
	margin: 10px;
}

.footer .info {
	color: #fff;
}

.footer-copy {
	color: #fff;
}